# Firebase
serviceAccountKey.json

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
.DS_Store
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift
*.swiftpm
.swiftpm/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Mac
.DS_Store
